{# app/Resources/views/blog.html.twig #}
{% extends 'blog.html.twig' %}

{% block content %}
    <div class="layout-wrapper">
    {% for candidate in candidates %}
        {{ candidate.getId }}
        {{ candidate.getName }}
        {{ candidate.getSurname }}
        {{ candidate.getAge }}
        {{ candidate.getEmail }}
        {{ candidate.getEnglishLevel }}
        <br />
    {% endfor %}
    </div>
{% endblock %}